<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="navbar.style.css">
</head>
<body>
    <div>
        <nav>
            <ul>
                <h1><a href="#">Omniverse Heroes</a></h1>
                <li><a href="#" onclick="loadPage('home')">Homepage</a></li>
                <li><a href="#" onclick="loadPage('pk')">PK</a></li>
                <li><a href="#" onclick="loadPage('about')">About</a></li>
            </ul>
        </nav>
    </div>

    <script src></script>
</body>
</html>