body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.main {
    display: flex;
    justify-content:center;
}

.input-container {
    display: flex;
    margin-bottom: 60px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.json-container {
    display: flex;
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.json-data {
    flex: 2;
}