h1 {
    margin: 0; 
}

#map { 
    height: 480px; 
    width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding-top: 20px;
}

#welcomewords {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #welcomewords h1 {
    font-size: 2.5em;
    color: #333; 
    margin-bottom: 20px;
  }
  
  #welcomewords h3 {
    font-size: 1.2em;
    color: #666; 
    line-height: 1.5;
  }
  